.discipline-summary {
  display: flex;
  align-items: flex-start;
  padding:1rem;

  .discipline-image {
      max-width: 100%;
      height: auto;

  }
  .discipline-content {
    flex: 1;
    text-align:center;
    .discipline-title {
      margin-top:1rem;
      font-family: $font-family-heading;
      font-size: 1.6rem;

    }
    p {
      color: $secondary;
    }
  }
}
